@font-face {
  font-family: 'futurachapro';
  src: url("futurachapro-Regular.otf");
}

@font-face {
  font-family: 'paladin';
  src: url("paladins.ttf");
}

 body {
  background: url("still_3.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 2%;
  text-align:center;
  text-align: justify;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: 'paladin';
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.8s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a:hover {
  color: #8DB600;
}

::selection{
  text-shadow: 1px 1px 0 #8DB600;
  color: 	#CBC3E3;
}

a {
  color: #8DB600;
  text-shadow: 0 0 20px #CBC3E3
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
