@font-face {
  font-family: 'futurachapro';
  src: url("futurachapro-Regular.otf");
}

@font-face {
  font-family: 'mantra';
  src: url("MantraAlt.otf");
}

@font-face {
  font-family: 'modern';
  src: url("GalleryModern.otf");
}

@font-face {
  font-family: 'ambiant';
  src: url("Ambiant-Light.ttf");
}

@font-face {
  font-family: 'golia';
  src: url("GoliaGolia-Sharp.otf");
}

@font-face {
  font-family: 'over';
  src: url("Over There.ttf");
}

@font-face {
  font-family: 'hel';
  src: url("Helveticamazing.ttf");
}

@font-face {
  font-family: 'Arsenica';
  src: url("bahnschrift.ttf");
}

 body {
   margin-left: 2%;
   background:white;
   color:black;
}

a {
  color: black; /* Set your default link color */
  text-decoration: underline; /* Remove underline, if desired */
}

/* Style for the link when hovering */
a:hover {
  color: white; /* Set the text color to white on hover */
  background-color: black; /* Set the background color to black on hover */
  text-decoration: none;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: 'hel';
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.8s;
}

.sidenav a:hover {
  color: #8DB600;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* mark {
  background-color: rgba(0,0,0,.2);
  color: white;
  opacity: 100%;
  line-height: 1.5;
  font-size: 25px;
} */

.projectTitle {
    /* font-family: 'Cutive Mono', monospace; */
    font-family: 'ambiant';
    color: black;
    margin-left: 22%;
    margin-right: 22%;
    text-align: justify;
    font-size: 25px;
}

.projectTitleShe {
    font-family: 'ambiant';
    font-size: 20px;
    color: black;
    /* color: black; */
    margin-left: 22%;
    margin-right: 22%;
    text-align: left;
    text-indent: 0em;
    display: block;
    position: relative;
    text-align: justify;
    transition: color .5s;
}
.projectTitleShePHASE h2 {
  /* font-family: 'over';
  font-size: 45px;
  color: black; */
  /* color: black; */
  /* margin-left: 14%;
  margin-right: 14%;
  text-align: left;
  text-indent: 0em;
  display: block;
  position: relative;
  text-align: justify; */
}

.projectTitleShe:hover {
/* color: #0700FE; */
}

.paragraphs {
    /* font-family: 'Cutive Mono', monospace; */
    /* font-family: 'ambiant';
    font-size: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    text-indent: 0em;
    display: block;
    position: relative;
    display: block;
    text-align: justify; */
}

h3 {
    color: black;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 60px;
}

.hello {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'ambiant';
    /* font-weight: 100; */
    font-size: 100px;
    margin-left: 21%;
    margin-right: 22%;
    text-align: justify;
}
